@model IVSource.Models.IvsCountryTravelInfo

@{
    ViewData["Title"] = "TRAVEL AND TOURISM INFORMATION";
    Layout = "~/Views/Shared/Admin/_LayoutAdminVisaDetails.cshtml";
}

<div class="row">
    <div class="col-md-10" style="margin:auto;">
        <h2>Update </h2>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SerialNum" />
            <input type="hidden" id="CountryName" name="CountryName" value="@TempData.Peek("CountryName")" />
            <div class="form-group">
                <label asp-for="TravelCategory" class="control-label"></label>
                <select asp-for="TravelCategory" class="form-control">
                    <option value="Travel - International">Travel - International</option>
                    <option value="Travel - Internal">Travel - Internal</option>
                    <option value="Resorts &amp; Excursions">Resorts & Excursions</option>
                </select>
                <span asp-validation-for="TravelCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelType" class="control-label"></label>
                <input asp-for="TravelType" class="form-control" />
                <span asp-validation-for="TravelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelDescription" class="control-label"></label>
                <input asp-for="TravelDescription" type="hidden" />
                <div id="div_editor1">
                    @System.Net.WebUtility.HtmlDecode(Model.TravelDescription)
                </div>
                <span asp-validation-for="TravelDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsEnable" class="control-label"></label>
                <select asp-for="IsEnable" class="form-control">
                    <option value="1">Enable</option>
                    <option value="0">Disable</option>
                </select>
                <span asp-validation-for="IsEnable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default blue-button" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            var editor1 = new RichTextEditor("#div_editor1");
            var divCustom = $("<div/>").html(("@System.Net.WebUtility.HtmlDecode(Model.TravelDescription)"));
            editor1.setHTMLCode(divCustom.text());
            editor1.attachEvent("change", function () {
                document.getElementById("TravelDescription").value = editor1.getHTMLCode();
            });
        });
    </script>
}
