@model IVSource.Models.IvsVisaCountriesDetails

@{
    ViewData["Title"] = "Country Fact Finder";
    Layout = "~/Views/Shared/Admin/_LayoutAdminVisaDetails.cshtml";
}

<div class="container">
    <div class="col-md-10" style="margin:auto;">
        <h2>Add </h2>
        <hr />
        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SerialNum" />
            <input type="hidden" id="CountryName" name="CountryName" value="@TempData.Peek("CountryName")" />
            <div class="form-group">
                <label asp-for="CountryLocation" class="control-label"></label>
                <input asp-for="CountryLocation" class="form-control" />
                <span asp-validation-for="CountryLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryTime" class="control-label"></label>
                <input asp-for="CountryTime" class="form-control" />
                <span asp-validation-for="CountryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryCapital" class="control-label"></label>
                <input asp-for="CountryCapital" class="form-control" />
                <span asp-validation-for="CountryCapital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryLanguages" class="control-label"></label>
                <input asp-for="CountryLanguages" class="form-control" />
                <span asp-validation-for="CountryLanguages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryArea" class="control-label"></label>
                <input asp-for="CountryArea" class="form-control" />
                <span asp-validation-for="CountryArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryPopulation" class="control-label"></label>
                <input asp-for="CountryPopulation" class="form-control" />
                <span asp-validation-for="CountryPopulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryNationalDay" class="control-label"></label>
                <input asp-for="CountryNationalDay" class="form-control" />
                <span asp-validation-for="CountryNationalDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryCurrency" class="control-label"></label>
                <input asp-for="CountryCurrency" class="form-control" />
                <span asp-validation-for="CountryCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryClimate" class="control-label"></label><br />
                <textarea asp-for="CountryClimate" rows="5" cols="100"> @System.Net.WebUtility.HtmlDecode(Model.CountryClimate)</textarea>
                <span asp-validation-for="CountryClimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryWorldFactBook" class="control-label"></label>
                <input asp-for="CountryWorldFactBook" class="form-control" />
                <span asp-validation-for="CountryWorldFactBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryFlag" class="control-label"></label>
                <input asp-for="CountryFlag" class="form-control" type="file" oninput="fileUpload()" />
                <span asp-validation-for="CountryFlag" class="text-danger fileUploadr"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountrySmallMap" class="control-label"></label>
                <input asp-for="CountrySmallMap" class="form-control" type="file" />
                <span asp-validation-for="CountrySmallMap" class="text-danger fileUploadr"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryLargeMap" class="control-label"></label>
                <input asp-for="CountryLargeMap" class="form-control" type="file" />
                <span asp-validation-for="CountryLargeMap" class="text-danger fileUploadr"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default blue-button" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function fileUpload()
        {
            $(".fileUploadr").html("");
        }
    </script>
}

