@model IVSource.Models.IvsVisaCategoriesForms
@{
    ViewData["Title"] = "VISA FORMS";
    Layout = "~/Views/Shared/Admin/_LayoutAdminVisaDetails.cshtml";
}

<div class="row">
    <div class="col-md-10" style="margin:auto;">
        <h2>Add</h2>
        <hr />
        <form asp-action="Add" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SerialNum" />
            <input type="hidden" id="CountryName" name="CountryName" value="@TempData.Peek("CountryName")" />

            <div class="form-group">
                <label class="control-label">City Name</label>
                <select id="CityId" name="CityId" asp-for="CityId" required class="form-control" onchange="SelectCityId(this.val)">
                    <option value="">Please Select</option>
                    <option value="BLR8DL9D9H8">Bangalore</option>
                    <option value="CCUX67W7Z3M">Kolkata</option>
                    <option value="DELY79S2B5V">Delhi</option>
                    <option value="HYD4FY5Q8B6">Hyderabad</option>
                    <option value="IXAT12A9Q8F">Agartala</option>
                    <option value="MAAZ8W9T98V">Chennai</option>
                    <option value="MUMG7U9M52S">Mumbai</option>
                    <option value="PNY4LC7R46E">Pondicherry</option>
                    <option value="TRVV92DR4E8">Thiruvananthapuram</option>
                    
                </select>
                <span asp-validation-for="CityId" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="VisaCategoryCode" class="control-label"></label>
                @*<select id="VisaCategoryCode" asp-for="categoriesForms.VisaCategoryCode" asp-items="@(new SelectList(Model.Categories,"VisaCategoryId","VisaCategory"))" class="form-control">
                    <option>Please select one</option>
                </select>*@
                <select id="VisaCategoryCode" name="VisaCategoryCode" asp-for="VisaCategoryCode" class="form-control"><option value="0">Please select one</option></select>
                <span id="errorMsgSpan" asp-validation-for="VisaCategoryCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Form" class="control-label"></label>
                <input id="Form" name="Form" asp-for="Form" asp-for="Form"  class="form-control" />
                <span asp-validation-for="Form" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FormPath" class="col-for-label control-label"></label> <br />
                <input id="FromPath" name="FormPath" asp-for="FormPath" class="form-control" type="file" />
                <span asp-validation-for="FormPath" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsEnable" class="control-label"></label>
                <select id="IsEnable" name="IsEnable" asp-for="IsEnable" class="form-control">
                    <option value="1">Enable</option>
                    <option value="0">Disable</option>
                </select>
                <span asp-validation-for="IsEnable" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default blue-button" onclick="validateDropdown()" />
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //function validateDropdown() {
        //    debugger;
        //    var selectedval = $('#categoriesForms_VisaCategoryCode').val();
        //    if (selectedval == "Please select one") {
        //        $("#errorMsgSpan").text("Please select a category");
        //        return false;
        //    }
        //    else {
        //        $("#errorMsgSpan").text(" ");
        //        /*return false;*/
        //        return true;
        //    }
        //}

        function SelectCityId() {
           //categoriesForms.VisaCategoryCode
            debugger;
            
            //var CategoryID = $("#CityId").val(); cityId
            let cityId = $("#CityId option:selected").val();
            let postdata = '{"cityId": "' + cityId + '"}';  //'{"bankId": "' + bankid + '" }',
            //if (cityId != null && cityId != "") {
              
                $.ajax({
                    type: "POST",
                    url: "../IvsVisaCategoriesForms/AddCategory",
                    //data: { IvsVisaCategoriesForms: e, VisaCategoryId: VisaCategoryName},
                    data: JSON.parse(postdata),
                    datatype: "Json",
                    success: function (data) {
                        debugger;
                        var IvsVisaCategoriesForms = data;
                        var items = "";
                        $("#VisaCategoryCode").html('');
                            //Fill projects drop down with data
                        $.each(IvsVisaCategoriesForms, function (i, item) {
                                //if (IvsVisaCategoriesForms.VisaCategoryId == '3') {
                            $("#VisaCategoryCode").append($("<option></option>").val(item.CategoryCode).html(item.Category));
                            //items += "<option selected value='" + item.CategoryCode + "'>" + item.Category + "</option>";
                                //}
                                //else {
                                //    items += "<option value='" + IvsVisaCategoriesForms.VisaCategoryId + "'>" + IvsVisaCategoriesForms.VisaCategoryName + "</option>";
                                //}
                            });
                            // $("#ProjectId").find("option:gt(0)").remove();
                        //$("#VisaCategoryCode").append(items);
                            //*************************************                               
                            //*************************************
                        }
                    });
            //} else {
            //    ResetAllWithoutProductDDL();
            //    alert("Please select project.")
            //}
        }


        //function SaveFormwithCategories() {
        //    debugger;

        //    let cityid = $("#CityId option:selected").val();
        //    let categoryid = $("#VisaCategoryCode option:selected").val();
        //    let formname = $("#txtForm").val();
        //    let formpath = $("#fFormPath").val();
        //    let isenable = $("#ddlIsEnable option:selected").val();
        //    let postdata = '{"CityId": "' + cityId + '", "VisaCategoryCode": "' + categoryid + '", "Form": "' + formname + '", "FormPath": "' + formpath + '", "IsEnable": "' + isenable + '" }',
        //    //if (cityId != null && cityId != "") {

        //    $.ajax({
        //        type: "POST",
        //        url: "../IvsVisaCategoriesForms/Add",
        //        //data: { IvsVisaCategoriesForms: e, VisaCategoryId: VisaCategoryName},
        //        data: JSON.parse(postdata),
        //        datatype: "Json",
        //        success: function (data) {
        //            debugger;
        //            var IvsVisaCategoriesForms = data.categories;
        //            var items = "";
        //            $("#VisaCategoryCode").html('');
        //            //Fill projects drop down with data
        //            $.each(IvsVisaCategoriesForms, function (i, item) {
        //                //if (IvsVisaCategoriesForms.VisaCategoryId == '3') {
        //                $("#VisaCategoryCode").append($("<option></option>").val(item.CategoryCode).html(item.Category));                        
        //            });
        //        }
        //    });
        //    //} else {
        //    //    ResetAllWithoutProductDDL();
        //    //    alert("Please select project.")
        //    //}
        //}
        
    </script>
}
