<section id="gallery" class="section-gallery section-padding section-meta onepage-section">

    <div class="g-layout-default container">
        <div class="section-title-area">
            <h2 class="section-title">Gallery</h2>
        </div>
        <div class="gallery-content">
            <div class="gallery-grid g-zoom-in  enable-lightbox  g-col-3"><a href="/Uploads/logo/8.jpg" class="g-item" title="2012 - 1"><span class="inner"><span class="inner-content"><img src="~/images/8.jpg" alt="IV Source for Visa Information"></span></span></a><a href="https://www.ivsource.com/wp-content/uploads/2013/11/2.jpg" class="g-item" title="2012 - 2"><span class="inner"><span class="inner-content"><img src="~/images/2.jpg" alt="IV Source for Visa Information"></span></span></a><a href="https://www.ivsource.com/wp-content/uploads/2013/11/1.jpg" class="g-item" title="2012 - 3"><span class="inner"><span class="inner-content"><img src="~/images/1.jpg" alt="IV Source for Visa Information"></span></span></a></div>
        </div>
        <div class="all-gallery">
            @*<a class="btn btn-theme-primary-outline" href="https://www.ivsource.com/photo-gallery/">View More</a>*@
            <a class="btn btn-theme-primary-outline" href="">View More</a>
        </div>

    </div>
</section>
