
@{
    ViewData["Title"] = "DASHBOARD";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
<div class="container">

    <section id="hero" data-images="[&quot;https:\/\/www.ivsource.com\/wp-content\/uploads\/2021\/04\/1.jpg&quot;,&quot;https:\/\/www.ivsource.com\/wp-content\/uploads\/2021\/04\/maxresdefault.jpg&quot;]" class="hero-slideshow-wrapper hero-slideshow-normal">

        <div class="slider-spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>

        <div class="container">
            <div class="hero__content hero-content-style1">
                <h2 class="hero-large-text">World Visa Guide</h2>						<div class="hero-small-text">
                    <p>
                        Visit every Diplomatic Mission in the world in our International Help Address |<br />
                        Detailed requisite documentation on every country |<br />
                        Check all the Visa Application Centres in India
                    </p>
                </div>						
            </div>
        </div>
    </section>

    </div>