@model IVSource.Models.IvsVisaPages

@{
    ViewData["Title"] = "PAGE";
    Layout = "~/Views/Shared/Admin/_LayoutAdminWebsitePages.cshtml";
}

<div class="row">
    <div class="col-md-10" style="margin:auto;">
        <h2>Add</h2>
        <hr />
        <form asp-action="Add" asp-controller="IvsVisaPagesOurContent" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" type="hidden" />
                <div id="div_editor1">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IsEnable" class="control-label"></label>
                <select asp-for="IsEnable" class="form-control">
                    <option value="true">Enable</option>
                    <option value="false">Disable</option>
                </select>
                <span asp-validation-for="IsEnable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default blue-button" />
            </div>
            <div>
                <a asp-action="Index" asp-controller="IvsVisaPagesOurContent">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var editor1 = new RichTextEditor("#div_editor1");
            editor1.attachEvent("change", function () { document.getElementById("Description").value = editor1.getHTMLCode(); });
        });
    </script>
}
