@model IVSource.Models.IvsVisaCountries
@{
    ViewData["Title"] = "Covid Information";
    Layout = "~/Views/Shared/_LayoutMemberPage.cshtml";
}

<h2>CovidInformation</h2>
<p><input type="hidden" asp-for="CountryIso" /></p>
<p><input type="hidden" asp-for="CountryName" /></p>

<script src="~/js/CovidInformation.js" script type="text/javascript"></script>  >
